.actions{
    block-size: var(--actionsSize);
    background: var(--grey40);
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.actions img{
    vertical-align: middle;
}

.actions input{
    font: var(--body-16regular);
    border: none;
    border-radius: 3.125rem;
    padding-inline: 1rem;
    padding-block: 1rem;
    color: var(--grey10);
    flex-wrap: 1;
    flex-shrink: 1;
    inline-size: 56.25rem;
}

@media screen and (max-width: 1600px) {
    .actions input{
        inline-size: 12.5rem;
    }
}

.button{
    cursor: pointer;
}