.chat-list{
    overflow: auto;
}

.sidebarChat{
    display: flex;
    padding: 1rem;
    gap: .5rem;
    align-items: center;
    cursor: pointer;
}

.sidebarChat.is-active{
    background-color: var(--grey20);
}

.sidebarChat-text{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: .5rem;
}

.sidebarChat-message{
    display: flex;
    gap: 4px;
    min-width: 0;
    /* UTILIZO MIN-WIDTH: 0; COMPONENTE Y LUEGO APLICO LAS ELLIPSIS EN ESPECIFICO A SUS SPAN PORQUE DEL O NO CONTRARIO NO FUNCIONAN LAS ELLIPSIS CUANDO SE UTILIZA DISPLAY FLEX */
}

.sidebarChat-message span{
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebarChat-user{
    display: flex;
    justify-content: space-between;
}

.mauricioImg{
    border-radius: 50%;
}


/* .sidebarChat-text span:last-child{
    position: absolute;
    color: red;
} */